@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 14px;
}
@media only screen and (min-width: 640px) {
  html,
body {
    font-size: 16px;
  }
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  margin: 0;
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: inherit;
}

body {
  background: #f8f8f8;
}

.loading-overlay {
  padding: 1rem 3rem;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  background-color: #4e69d0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  transition: all 1s ease-out;
  opacity: 1;
  visibility: visible;
}
.loading-overlay.hidden {
  opacity: 0;
  visibility: hidden;
}
.loading-overlay h1 {
  color: white;
  font-weight: 600;
  font-weight: 2rem;
  margin-top: 2rem;
}
header {
  background-color: #4e69d0;
  padding: 1rem;
}
header .logo {
  display: block;
  max-width: 100px;
}
@media only screen and (min-width: 1024px) {
  header .logo {
    margin-left: 1rem;
    max-width: 134px;
    margin-bottom: unset;
  }
}

main {
  padding: 2rem;
}
@media only screen and (min-width: 640px) {
  main {
    padding: 2rem 3rem;
  }
}
main .attend {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  main .attend {
    flex-direction: row;
  }
}
main .attend .video-container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 640px) {
  main .attend .video-container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
}
@media only screen and (min-width: 1024px) {
  main .attend .video-container {
    margin-bottom: unset;
    width: 50%;
    align-items: flex-start;
  }
}
main .attend .video-container video {
  border: #4e69d0 2px dotted;
  padding: 1rem;
  border-radius: 9px;
  width: 100%;
  height: auto;
}
@media only screen and (min-width: 640px) {
  main .attend .video-container video {
    width: 80%;
  }
}
main .attend .video-container canvas {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (min-width: 640px) {
  main .attend .video-container canvas {
    width: 80%;
  }
}
@media only screen and (min-width: 1024px) {
  main .attend .video-container canvas {
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: unset;
  }
}
main .attend .table-container {
  display: flex;
  justify-content: center;
  height: 200px;
}
@media only screen and (min-width: 1024px) {
  main .attend .table-container {
    width: 50%;
    height: 58vh;
    align-self: flex-start;
  }
}
main .attend .table-container #attendance-table .delete-btn {
  background-color: #f8f8f8;
  border: none;
  /* Remove borders */
  padding: 0 6px;
  font-size: 1rem;
  /* Set a font size */
  cursor: pointer;
  /* Mouse pointer on hover */
}
main .bottom {
  display: flex;
  justify-content: flex-end;
}
main .bottom #export-to-xlsx-btn {
  width: 100%;
  padding: 8px;
  color: white;
  background-color: #f02e4e;
  margin-top: 2rem;
  font-weight: 600;
}
main .bottom #export-to-xlsx-btn:hover {
  background-color: #e82343;
}
@media only screen and (min-width: 1024px) {
  main .bottom #export-to-xlsx-btn {
    width: unset;
  }
}

/*# sourceMappingURL=attend.style.css.map */
