* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 14px;
}
@media only screen and (min-width: 640px) {
  html,
body {
    font-size: 16px;
  }
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  margin: 0;
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: inherit;
}

section {
  padding: 2rem 2rem;
}
@media only screen and (min-width: 1024px) {
  section {
    padding: 2rem 7rem;
  }
}

section.hero-section {
  min-height: 100vh;
  background-color: #4e69d0;
  display: flex;
  flex-direction: column;
}
section.hero-section .logo {
  display: block;
  max-width: 100px;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 1024px) {
  section.hero-section .logo {
    max-width: 148px;
    margin-bottom: unset;
  }
}
section.hero-section .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  margin: auto;
}
@media only screen and (min-width: 1024px) {
  section.hero-section .content {
    max-width: 100%;
    text-align: unset;
    flex-direction: row-reverse;
  }
}
section.hero-section .content .hero-image-container {
  width: 38vh;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
@media only screen and (min-width: 1024px) {
  section.hero-section .content .hero-image-container {
    width: 50%;
  }
}
section.hero-section .content .hero-image-container .hero-image {
  max-width: 30vh;
}
@media only screen and (min-width: 640px) {
  section.hero-section .content .hero-image-container .hero-image {
    max-width: 38vh;
  }
}
@media only screen and (min-width: 1024px) {
  section.hero-section .content .hero-image-container .hero-image {
    max-width: 400px;
  }
}
section.hero-section .content .hero-text {
  color: white;
}
@media only screen and (min-width: 1024px) {
  section.hero-section .content .hero-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto auto auto 0;
  }
}
section.hero-section .content .hero-text .title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}
@media only screen and (min-width: 1024px) {
  section.hero-section .content .hero-text .title {
    font-size: 3.5rem;
  }
}
section.hero-section .content .hero-text .paragraph {
  margin: 1rem 0 1.5rem 0;
  font-size: 1.2rem;
}
@media only screen and (min-width: 1024px) {
  section.hero-section .content .hero-text .paragraph {
    font-size: 2rem;
  }
}
section.hero-section .content .hero-text .buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  margin-top: 3rem;
}
@media only screen and (min-width: 1024px) {
  section.hero-section .content .hero-text .buttons {
    flex-direction: row;
    margin-top: 2rem;
  }
}
section.hero-section .content .hero-text .buttons a .button-cta {
  width: 100%;
  padding: 8px;
  color: white;
  background-color: #f02e4e;
  margin-bottom: 1rem;
  font-weight: 600;
}
section.hero-section .content .hero-text .buttons a .button-cta:hover {
  background-color: #e82343;
}
@media only screen and (min-width: 1024px) {
  section.hero-section .content .hero-text .buttons a .button-cta {
    width: unset;
    margin-bottom: unset;
    margin-right: 1.5rem;
  }
}
section.hero-section .content .hero-text .buttons a .button-ghost {
  width: 100%;
  padding: 8px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  font-weight: 600;
}
section.hero-section .content .hero-text .buttons a .button-ghost:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

section.upload-section {
  background-color: #f8f8f8;
}
section.upload-section .container {
  padding: 2rem 0 4rem 0;
  text-align: center;
}
section.upload-section .container .title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 2.2rem;
}
section.upload-section .container .caption {
  margin-bottom: 2rem;
}
section.upload-section .container .dropzone {
  padding: 2rem 0;
  margin: 0 auto;
  width: 80%;
  height: 400px;
  overflow-y: auto;
}
section.upload-section .container .dropzone .dz-message {
  margin-top: 150px;
}
section.upload-section .container .dropzone .dz-preview {
  margin: 1rem;
}
section.upload-section .container #redirect.hidden {
  display: none;
}
section.upload-section .container #redirect .btn-redirect {
  margin-top: 2rem;
  padding: 1rem 8px;
  color: white;
  width: 80%;
  background-color: #f02e4e;
  font-weight: 600;
}
section.upload-section .container #redirect .btn-redirect:hover {
  background-color: #e82343;
}
@media only screen and (min-width: 1024px) {
  section.upload-section .container #redirect .btn-redirect {
    margin-bottom: unset;
  }
}

section.how-it-works-section {
  background: #4e69d0;
  color: whitesmoke;
}
section.how-it-works-section .container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 2rem 0;
}
section.how-it-works-section .container h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2.2rem;
  margin: 1rem 0 2rem 0;
}
@media only screen and (min-width: 640px) {
  section.how-it-works-section .container h2 {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 1024px) {
  section.how-it-works-section .container h2 {
    margin: 1rem 0 4rem 0;
  }
}
section.how-it-works-section .container .content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  section.how-it-works-section .container .content {
    flex-direction: row;
    text-align: unset;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: space-around;
  }
  section.how-it-works-section .container .content:nth-child(odd) {
    flex-direction: row-reverse;
  }
}
section.how-it-works-section .container .content .img-container {
  margin: 2rem 0;
}
section.how-it-works-section .container .content .img-container img {
  max-width: 50%;
}
@media only screen and (min-width: 1024px) {
  section.how-it-works-section .container .content .img-container img {
    max-width: 100%;
    margin: auto;
  }
}
section.how-it-works-section .container .content .text-container {
  margin-bottom: 3rem;
}
section.how-it-works-section .container .content .text-container h3 {
  margin-bottom: 1.5rem;
  font-weight: 600;
  font-size: 2rem;
}
@media only screen and (min-width: 1024px) {
  section.how-it-works-section .container .content .text-container h3 {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 1024px) {
  section.how-it-works-section .container .content .text-container {
    max-width: 40%;
    margin-bottom: unset;
  }
}

/*# sourceMappingURL=index.style.css.map */
