@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 14px;
}

section {
  padding: 2rem 8rem;
}

section.hero-section {
  height: 100vh;
  background-color: #4e69d0;
  display: flex;
  flex-direction: column;
}
section.hero-section .logo {
  display: block;
}
section.hero-section .content {
  display: flex;
  align-items: center;
  height: 100%;
}
section.hero-section .content__left {
  width: 50%;
  color: white;
}
section.hero-section .content__left .left__title {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  font-weight: 800;
}
section.hero-section .content__left .left__paragraph {
  font-size: 2rem;
  margin: 1rem 0 1.5rem 0;
}
section.hero-section .content__left .left__buttons .button__cta {
  padding: 8px;
  color: white;
  background-color: #f02e4e;
  margin-right: 1.5rem;
}
section.hero-section .content__left .left__buttons .button__cta:hover {
  background-color: #e82343;
}
section.hero-section .content__left .left__buttons .button__ghost {
  padding: 8px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
}
section.hero-section .content__left .left__buttons .button__ghost:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
section.hero-section .content__right {
  width: 50%;
  display: flex;
  justify-content: center;
}
section.hero-section .content__right .right__image {
  margin: auto;
  max-width: 400px;
}

.form-uploader {
  display: block;
  clear: both;
  margin: 0 auto;
  width: 80%;
  height: 600px;
}
.form-uploader label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  clear: both;
  width: 100%;
  padding: 2rem 1.5rem;
  text-align: center;
  background: #fff;
  height: 70vh;
  border-radius: 7px;
  border: 3px solid #eee;
  transition: all 0.2s ease;
  user-select: none;
}
.form-uploader label:hover {
  border-color: #454cad;
}
.form-uploader label.hover {
  border: 3px solid #454cad;
  box-shadow: inset 0 0 0 6px #eee;
}
.form-uploader label.hover #start i.fa {
  transform: scale(0.8);
  opacity: 0.3;
}
.form-uploader label #start {
  float: left;
  clear: both;
  width: 100%;
}
.form-uploader label #start.hidden {
  display: none;
}
.form-uploader label #start i.fa {
  font-size: 50px;
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out;
}
.form-uploader label #notimage {
  display: block;
  float: left;
  clear: both;
  width: 100%;
}
.form-uploader label #notimage.hidden {
  display: none;
}
.form-uploader label #images-preview {
  clear: both;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.form-uploader label #images-preview.hidden {
  display: none;
}
.form-uploader label #images-preview .thumbnail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 160px;
  margin-bottom: 0.5rem;
}
.form-uploader label #images-preview .thumbnail-container .image-name {
  font-size: 8px;
}
.form-uploader label #images-preview .thumbnail-container .image-thumbnail {
  margin: 0 auto 0.5rem auto;
  width: 80%;
}
.form-uploader label #images-preview .thumbnail-container .image-thumbnail.hidden {
  display: none;
}
.form-uploader progress,
.form-uploader .progress {
  display: inline;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 180px;
  height: 8px;
  border: 0;
  border-radius: 4px;
  background-color: #eee;
  overflow: hidden;
}
.form-uploader .progress[value]::-webkit-progress-bar {
  border-radius: 4px;
  background-color: #eee;
}
.form-uploader .progress[value]::-webkit-progress-value {
  background: linear-gradient(to right, #393f90 0%, #454cad 50%);
  border-radius: 4px;
}
.form-uploader .progress[value]::-moz-progress-bar {
  background: linear-gradient(to right, #393f90 0%, #454cad 50%);
  border-radius: 4px;
}
.form-uploader input[type=file] {
  display: none;
}

/*# sourceMappingURL=index.style.css.map */
