@import '../base/mixins';
@import '../base/reset';
@import '../base/variables';

.loading-overlay {
  padding: 1rem 3rem;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  background-color: $primary-color;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  transition: all 1s ease-out;
  opacity: 1;
  visibility: visible;
  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
  h1 {
    color: white;
    font-weight: 600;
    font-weight: 2rem;
    margin-bottom: 5rem;
  }
  .animation-container {
  }
}
header {
  background-color: $primary-color;
  padding: 1rem;
  .logo {
    display: block;
    max-width: 100px;

    @include dekstop {
      margin-left: 1rem;
      max-width: 134px;
      margin-bottom: unset;
    }
  }
}

main {
  padding: 2rem;
  background: #f8f8f8;
  @include tablet {
    padding: 2rem 3rem;
  }
  .attend {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;

    @include dekstop {
      flex-direction: row;
    }

    .video-container {
      width: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;
      @include tablet {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 3rem;
      }
      @include dekstop {
        margin-bottom: unset;
        width: 50%;
        align-items: flex-start;
      }

      video {
        border: $primary-color 2px dotted;
        padding: 1rem;
        border-radius: 9px;
        width: 100%;
        height: auto;
        @include tablet {
          width: 80%;
        }
      }
      canvas {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include tablet {
          width: 80%;
        }
        @include dekstop {
          top: 0;
          left: 0;
          right: 0;
          margin: 0 auto;
          transform: unset;
        }
      }
    }
    .table-container {
      display: flex;
      justify-content: center;

      @include dekstop {
        width: 50%;
        align-self: flex-start;
      }

      .attendance-table {
      }
    }
  }
}
