// Imports
//
@import '../base/mixins';
@import '../base/reset';
@import '../base/variables';
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

// Vars and Reset
//

section {
  padding: 2rem 2rem;
  @include dekstop {
    padding: 2rem 7rem;
  }
}

section.hero-section {
  min-height: 100vh;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;

  .logo {
    display: block;
    max-width: 100px;
    margin-bottom: 1rem;
    @include dekstop {
      max-width: 134px;
      margin-bottom: unset;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    margin: auto;
    @include dekstop {
      max-width: 100%;
      text-align: unset;
      flex-direction: row-reverse;
    }
    .hero-image-container {
      width: 38vh;
      @include dekstop {
        width: 50%;
      }
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
      .hero-image {
        max-width: 38vh;
        @include dekstop {
          max-width: 400px;
        }
      }
    }

    .hero-text {
      color: white;
      @include dekstop {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin: auto auto auto 0;
      }
      .title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        @include dekstop {
          font-size: 3rem;
        }
      }
      .paragraph {
        margin: 1rem 0 1.5rem 0;
        font-size: 1.2rem;
        @include dekstop {
          font-size: 2rem;
        }
      }
      .buttons {
        display: flex;
        flex-direction: column;
        width: 100%;
        @include dekstop {
          flex-direction: row;
        }
        .button-cta {
          padding: 8px;
          color: white;
          background-color: $secondary-color;
          margin-bottom: 1rem;
          &:hover {
            background-color: #e82343;
          }
          @include dekstop {
            margin-bottom: unset;
            margin-right: 1.5rem;
          }
        }
        .button-ghost {
          padding: 8px;
          color: white;
          background-color: transparent;
          border: 1px solid white;
          &:hover {
            background-color: rgba($color: #000000, $alpha: 0.2);
          }
        }
      }
    }
  }
}

// Upload Demo
//
section.upload-section {
  background-color: #f8f8f8;
  .container {
    padding: 2rem 0;
    text-align: center;
    .title {
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: 2rem;
    }
    .caption {
    }
    .form-uploader {
      padding: 2rem 0;
      display: block;
      clear: both;
      margin: 0 auto;
      width: 80%;
      height: 600px;

      label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        clear: both;
        width: 100%;
        padding: 2rem 1.5rem;
        text-align: center;
        background: #fff;
        height: 70vh;
        border-radius: 7px;
        border: 3px solid #eee;
        transition: all 0.2s ease;
        user-select: none;

        &:hover {
          border-color: $primary-color;
        }
        &.hover {
          border: 3px solid $theme;
          box-shadow: inset 0 0 0 6px #eee;

          #start {
            i.fa {
              transform: scale(0.8);
              opacity: 0.3;
            }
          }
        }
        #start {
          float: left;
          clear: both;
          width: 100%;
          &.hidden {
            display: none;
          }
          i.fa {
            font-size: 50px;
            margin-bottom: 1rem;
            transition: all 0.2s ease-in-out;
          }
        }

        #notimage {
          display: block;
          float: left;
          clear: both;
          width: 100%;
          &.hidden {
            display: none;
          }
        }

        #images-preview {
          overflow-y: auto;
          clear: both;
          width: 100%;
          display: flex;
          flex: 1;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          &.hidden {
            display: none;
          }
          .thumbnail-container {
            display: flex;
            margin: 0 auto 0.7rem auto;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 180px;
            padding-bottom: 0.2rem;
            .image-name {
              margin-top: 6px;
              font-size: 12px;
            }
            .image-thumbnail {
              width: 80%;
              max-height: 160px;
              &.hidden {
                display: none;
              }
            }
          }
        }
      }

      progress,
      .progress {
        // appearance: none;
        display: inline;
        clear: both;
        margin: 0 auto;
        width: 100%;
        max-width: 180px;
        height: 8px;
        border: 0;
        border-radius: 4px;
        background-color: #eee;
        overflow: hidden;
      }

      .progress[value]::-webkit-progress-bar {
        border-radius: 4px;
        background-color: #eee;
      }

      .progress[value]::-webkit-progress-value {
        background: linear-gradient(to right, darken($theme, 8%) 0%, $theme 50%);
        border-radius: 4px;
      }
      .progress[value]::-moz-progress-bar {
        background: linear-gradient(to right, darken($theme, 8%) 0%, $theme 50%);
        border-radius: 4px;
      }

      input[type='file'] {
        display: none;
      }

      .btn-select-file {
        display: inline-block;
        margin: 0.5rem 0.5rem 1rem 0.5rem;
        clear: both;
        font-family: inherit;
        font-weight: 700;
        font-size: 14px;
        text-decoration: none;
        text-transform: initial;
        border: none;
        border-radius: 0.2rem;
        outline: none;
        padding: 0 1rem;
        height: 36px;
        line-height: 36px;
        color: #fff;
        transition: all 0.2s ease-in-out;
        box-sizing: border-box;
        background: $primary-color;
        border-color: $primary-color;
        cursor: pointer;
      }

      .btn-upload {
        font-size: 1rem;
        text-transform: uppercase;
        margin: 1rem 0;
        padding: 8px 1rem;
        color: white;
        background-color: $secondary-color;
        &:hover {
          background-color: #e82343;
        }
        &.hidden {
          display: none;
        }
      }
    }
  }
}
