// Imports
//
@import '../base/mixins';
@import '../base/reset';
@import '../base/variables';

section {
  padding: 2rem 2rem;
  @include dekstop {
    padding: 2rem 7rem;
  }
}

section.hero-section {
  min-height: 100vh;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;

  .logo {
    display: block;
    max-width: 100px;
    margin-bottom: 1rem;
    @include dekstop {
      max-width: 134px;
      margin-bottom: unset;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    margin: auto;
    @include dekstop {
      max-width: 100%;
      text-align: unset;
      flex-direction: row-reverse;
    }
    .hero-image-container {
      width: 38vh;

      @include dekstop {
        width: 50%;
      }
      display: flex;
      justify-content: center;
      margin-bottom: 3rem;
      .hero-image {
        max-width: 30vh;
        @include tablet {
          max-width: 38vh;
        }
        @include dekstop {
          max-width: 400px;
        }
      }
    }

    .hero-text {
      color: white;

      @include dekstop {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin: auto auto auto 0;
      }
      .title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        @include dekstop {
          font-size: 3.5rem;
        }
      }
      .paragraph {
        margin: 1rem 0 1.5rem 0;
        font-size: 1.2rem;
        @include dekstop {
          font-size: 2rem;
        }
      }
      .buttons {
        display: flex;
        flex-direction: column;
        width: 100%;
        color: white;
        margin-top: 3rem;
        @include dekstop {
          flex-direction: row;
          margin-top: 2rem;
        }
        a {
          .button-cta {
            width: 100%;
            padding: 8px;
            color: white;
            background-color: $secondary-color;
            margin-bottom: 1rem;
            font-weight: 600;

            &:hover {
              background-color: #e82343;
            }
            @include dekstop {
              width: unset;
              margin-bottom: unset;
              margin-right: 1.5rem;
            }
          }
          .button-ghost {
            width: 100%;
            padding: 8px;
            color: white;
            background-color: transparent;
            border: 1px solid white;
            font-weight: 600;
            &:hover {
              background-color: rgba($color: #000000, $alpha: 0.2);
            }
          }
        }
      }
    }
  }
}

section.upload-section {
  background-color: #f8f8f8;
  .container {
    padding: 2rem 0 4rem 0;
    text-align: center;
    .title {
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      margin-bottom: 1rem;
      font-size: 2.2rem;
    }
    .caption {
      margin-bottom: 2rem;
    }
    .dropzone {
      padding: 2rem 0;
      margin: 0 auto;
      width: 80%;
      height: 400px;
      overflow-y: auto;
      .dz-message {
        margin-top: 150px;
      }
      .dz-preview {
        margin: 1rem;
      }
    }
    #redirect {
      &.hidden {
        display: none;
      }
      .btn-redirect {
        margin-top: 2rem;
        padding: 1rem 8px;
        color: white;
        width: 80%;
        background-color: $secondary-color;

        font-weight: 600;
        &:hover {
          background-color: #e82343;
        }
        @include dekstop {
          margin-bottom: unset;
        }
      }
    }
  }
}
section.how-it-works-section {
  background: $primary-color;
  color: whitesmoke;
  .container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 2rem 0;
    h2 {
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: 2.2rem;
      margin: 1rem 0 2rem 0;
      @include tablet {
        font-size: 3rem;
      }
      @include dekstop {
        margin: 1rem 0 4rem 0;
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      text-align: center;

      @include dekstop {
        flex-direction: row;
        text-align: unset;
        align-items: center;
        margin-bottom: 1rem;
        justify-content: space-around;
        &:nth-child(odd) {
          flex-direction: row-reverse;
        }
      }
      .img-container {
        margin: 2rem 0;

        img {
          max-width: 50%;
          @include dekstop {
            max-width: 100%;
            margin: auto;
          }
        }
      }
      .text-container {
        margin-bottom: 3rem;
        h3 {
          margin-bottom: 1.5rem;
          font-weight: 600;
          font-size: 2rem;
          @include dekstop {
            font-size: 2.5rem;
          }
        }
        p {
        }
        @include dekstop {
          max-width: 40%;
        }
      }
    }
  }
}
