<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/attend.style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&family=Open+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <script src="/assets/dist/face-api.min.js"></script>
  </head>
  <body>
    <header>
      <img class="logo" src="/assets/images/attendy-logo2x.png" alt="attendy-logo" />
    </header>
    <main>
      <div class="attend">
        <div class="video-container">
          <video id="video" width="720" height="560" autoplay muted></video>
          <canvas id="overlay"></canvas>
        </div>
        <div class="table-container">
          <table id="attendance-table" class="table">
            <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Name</th>
                <th scope="col">Attemd at</th>
              </tr>
            </thead>
            <tbody id="table-body">
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>
    <script src="/assets/js/attend.bundle.js"></script>
  </body>
</html>
