$primary-color: #4e69d0;
$secondary-color: #333;
* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

section.hero-section {
  height: 100vh;
  background-color: $primary-color;
}
